<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="URL_POST_FILE" value="http://192.168.0.105:80/MobileUrl/MobileUpLoadFileHandler.ashx"/>
    <add key="URL_DOWNLOAD_FILE" value="http://192.168.0.105:80/MobileUrl/MobileDownLoadFileHandler.ashx"/>
    <add key="TmpPath" value="C:\Temp"/>
    <add key="URL_CLOUD_PRINT_SHOP" value="http://www.qindayin.com/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
